<!DOCTYPE html>
<html>
<head>
        <style>
h1 {
  display: flex;
  justify-content: space-between;
}
    </style>
    <meta charset="utf-8">
</head>
    <body>
        <div id='header'>
            <h1><span>Course list</span> <a href='/'>Go to Students</a></h1>
        </div>
        <div id='content'>
            <p> No courses found. Add the courses now! <br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <a href="/course/create"> +Add Course </a> </br> </p>
        </div>
    </body>
</html>