<!DOCTYPE html>
<html>
<head>
        <style>
h1 {
  display: flex;
  justify-content: space-between;
}
    </style>
    <meta charset="utf-8">
</head>
    <body>
        <div id='header'>
            <h1><span>Student List</span> <a href='/courses'>Go to Courses</a></h1>
        </div>
        <div id='content'>
            <p> No student found. Add students now! <br> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <a href="/student/create"> +Add Student </a> </br> </p>
        </div>
    </body>
</html>