<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
    <body>
    	<div id='header_personal'>
    		<h1 style='text-align: center;'> Students Details </h1>
    	</div>
			<table id = 'student-detail'>
				<thead>
					<tr>
					<th>Roll Number</th>
					<th>First Name</th>
					<th>Last Name</th>
					</tr>
				</thead>
				<tbody>
					<tr>
					<td>{{ student.roll_number }}</td>
					<td>{{ student.first_name }}</td>
					<td>{{ student.last_name }}</td>
					</tr>
				</tbody>
			</table>
		<div id='header_enroll'>
    		<h1 style='text-align: center;'> Enrollment List </h1>
    	</div>
			<table id = 'student-enrollments'>
				<thead>
				  <tr>
					<th>SNo</th>
					<th>Course Code</th>
					<th>Course Name</th>
					<th>Course Description</th>
					<th>Actions</th>
				  </tr>
				</thead>
				<tbody>
				 {% for course in courses %}
				  <tr>
					<td>{{ loop.index }}</td>
					<td>{{ course[5] }}</td>
					<td>{{ course[6] }}</td>
					<td>{{ course[7] }}</td>
					<td>
					  <a href="/student/{{ student.student_id }}/withdraw/{{ course.course_id }}">Withdraw</a>
					</td>
				  </tr>
				 {% endfor %}
				</tbody>
			</table>
		<div id='go_back'>
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			<a href='/'> Go Back </a>
		</div>
	</body>
</html>		